<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CardTypeID</key>
		<string>com.sykt.niuniu.gold1</string>
		<key>CardName</key>
		<string>6元卡</string>
		<key>CardPrice</key>
		<string>6.00</string>
		<key>CardGold</key>
		<string>80000</string>
		<key>Describe</key>
		<string>一次性获取游戏币8万</string>
	</dict>
	<dict>
		<key>CardTypeID</key>
		<string>com.sykt.niuniu.gold2</string>
		<key>CardName</key>
		<string>12元卡</string>
		<key>CardPrice</key>
		<string>12.00</string>
		<key>CardGold</key>
		<string>150000</string>
		<key>Describe</key>
		<string>一次性获取游戏币15万</string>
	</dict>
	<dict>
		<key>CardTypeID</key>
		<string>com.sykt.niuniu.gold3</string>
		<key>CardName</key>
		<string>30元卡</string>
		<key>CardPrice</key>
		<string>30.00</string>
		<key>CardGold</key>
		<string>380000</string>
		<key>Describe</key>
		<string>一次性获取游戏币38万</string>
	</dict>
	<dict>
		<key>CardTypeID</key>
		<string>com.sykt.niuniu.gold4</string>
		<key>CardName</key>
		<string>60元卡</string>
		<key>CardPrice</key>
		<string>60.00</string>
		<key>CardGold</key>
		<string>750000</string>
		<key>Describe</key>
		<string>一次性获取游戏币75万</string>
	</dict>
	<dict>
		<key>CardTypeID</key>
		<string>com.sykt.niuniu.gold5</string>
		<key>CardName</key>
		<string>108元卡</string>
		<key>CardPrice</key>
		<string>108.00</string>
		<key>CardGold</key>
		<string>1350000</string>
		<key>Describe</key>
		<string>一次性获取游戏币135万</string>
	</dict>
	<dict>
		<key>CardTypeID</key>
		<string>com.sykt.niuniu.gold6</string>
		<key>CardName</key>
		<string>518元卡</string>
		<key>CardPrice</key>
		<string>518.00</string>
		<key>CardGold</key>
		<string>6480000</string>
		<key>Describe</key>
		<string>一次性获取游戏币648万</string>
	</dict>
</array>
</plist>
